<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger{1} - %msg%n"/>
        </Console>
        <Rollingfile name="file"
                     fileName="log/icpc-live.log"
                     filePattern="log/%d{yyyy-MM-dd}/icpc-live-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </Rollingfile>
    </Appenders>
    <Loggers>
<!--        <Root level="DEBUG">
            <AppenderRef ref="file"/>
            <AppenderRef ref="console"/>
        </Root>-->
    </Loggers>
</Configuration>